<footer class="footer">

    <div class="footer_container">
        <section>
            <h2 class="footer_title">Sobre</h2>

            <p class="footer_about-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium aperiam fugiat atque inventore minima nisi nesciunt commodi dolore laboriosam aliquam debitis, cupiditate dolor iusto et, perferendis similique reiciendis! Error, reiciendis!
            </p>
        </section>
        <address>
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="fas fa-phone-rotary"></i>Telefone</li>
                <li><i class="fas fa-envelope"></i>e-mail</li>
                <li><i class="fab fa-whatsapp-square"></i>WhatsApp</li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>